
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial;
}
.all{
    width:100%;
    height:100vh;
    background-color:#007c7063;
    background-size: cover;
    background-position: center;

}
.navbar{
    width:85%;
    margin: auto;
    padding:35px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width:120px;
    cursor:pointer;
}
.navbar ul li{
    list-style: none;
    display:inline-block;
    margin:0 20px ;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content:'';
    width:0%;
    height:3px;
    background: #009688;
    position:absolute;
    left:0;
    bottom:-10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width:100%;
    display: flex;
}
button{
    width:250px;
    padding: 15px 0;
    text-align: center;
    margin-top: 8px;
    border-radius: 8px;
    font-weight: bold;
    border:2px solid #009688;
    background: transparent;
    color:#fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    outline: none;
}
span{
    background: #009688;
    height:100%;
    width:0%;
    border-radius: 7px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
    
}
button:hover span{
    width:100%;
}
.login{
    border: 2px solid #009688;
    border-radius: 8px;
    width: 350px;
    height:480px;
    margin-left: 40%;
}
form{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-left: 50px;
    margin-top: 50px;
}
form input{
    width:250px;
    height:50px;
    border:2px solid #009688;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.1);
    color:white;
    padding-left: 1%;
    margin-top: 8px;
    outline: none;
}
form h3{
    color:#fff;
    margin-left:25%;
}


form h1{
    color:#fff;
    transition: 1s;
}

.facebook{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width:250px;
    height: 25px;
    background-color: #2155ff;
    border-radius:8px;
}
.facebook img{
    max-width: 20px;
    width:100%;
    height:20px;
    margin-top:1px;
}
.facebook p{
    display:inline-block;
    color: white;
    margin-right:110px;
    margin-left:20px;
    margin-top: 5px;
    
}
.instagram{
    margin-top: 8px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width:250px;
    height: 25px;
    background-color: #fe2d21;
    border-radius:8px;
}
.instagram img{
    max-width: 20px;
    width:100%;
    height:20px;
    margin-top:1px;
}
.instagram p{
    display:inline-block;
    color: white;
    margin-right:110px;
    margin-left:20px;
    margin-top: 5px;
    
}